  <ul class=posts_listing>

    @foreach (IDocument post in Document.GetChildren())
    {
        IDocument topicDocument = Outputs[nameof(Archives)][$"blog/topics/{post.GetString("topic")}/index.html"];
        string excerpt = post.GetString(Statiq.Html.HtmlKeys.Excerpt);

      <li>
        <h2><a href="@(topicDocument.GetLink())">@topicDocument.GetTitle()</a></h2>
        <div class=date>@post.GetDateTime("Published").ToLongDateString()</div>
      </li>

        <!-- @if (!string.IsNullOrEmpty(excerpt))
        {
            @Html.Raw(excerpt)
            <p class="small"><a href="@Context.GetLink(post)">Read more...</a></p>
        } -->
    }

  </ul>

